<!DOCTYPE html>
<html lang="{{ lang or "en" }}">
    <head>
        <meta charset="utf-8">

        <title>CpcSC {% if title %}- {{ title }}{% endif %}</title>

        <link rel="stylesheet" href="assets/style.css">
    </head>
    <body>
        <div id="pride">
            <h2>Happy pride month !</h2>
            <img class="retromoji" src="https://d0p1s4m4.github.io/retromoji/img/flag_lesbian.png" aria-label="Lesbian Pride">
            <img class="retromoji" src="https://d0p1s4m4.github.io/retromoji/img/flag_lgbt.png" aria-label="Gay Pride">
            <img class="retromoji" src="https://d0p1s4m4.github.io/retromoji/img/flag_bi.png" aria-label="Bisexual Pride">
            <img class="retromoji" src="https://d0p1s4m4.github.io/retromoji/img/flag_trans.png" aria-label="Transgender Pride">
            <img class="retromoji" src="https://d0p1s4m4.github.io/retromoji/img/flag_non_binary.png" aria-label="Non-Binary Pride">
            <img class="retromoji" src="https://d0p1s4m4.github.io/retromoji/img/flag_intersex.png" aria-label="Intersex Pride">
        </div>
        <div id="alt-lang">
            <a {% if lang %} href="index.html" {% else %} class="disabled" {% endif %}>
                <img class="retromoji" src="https://d0p1s4m4.github.io/retromoji/img/flag_great_britain.png" aria-label="english">
            </a>
            <a {% if lang == "fr" %} class="disabled" {% else %} href="index.fr.html" {% endif %}>
                <img class="retromoji" src="https://d0p1s4m4.github.io/retromoji/img/flag_france.png" aria-label="french">
            </a>
            <a {% if lang == "ja" %} class="disabled" {% else %} href="index.ja.html" {% endif %}>
                <img class="retromoji" src="https://d0p1s4m4.github.io/retromoji/img/flag_japan.png" aria-label="japanese">
            </a>
            <div class="clear"></div>
        </div>
        <main>
            {% include "nav.njk" %}
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            <img class="retromoji mini" src="https://d0p1s4m4.github.io/retromoji/img/copyleft.png" aria-label="copyleft"> 2020 <a href="https://github.com/d0p1s4m4">d0p1</a>
        </footer>
    </body>

    <script src="assets/script.js"></script>
    <script>
        init();
    </script>
</html>