{% extends "layout.fr.njk" %}

{% block main %}
            <h2 class="wip">🚧En construction🚧</h2>
            <h2>Contributeurs</h2>
            <div id="contrib"></div>
{% endblock %}

{% block scripts %}
    <script>
        fetchContributors();
    </script>
{% endblock %}