{% extends "layout.njk" %}

{% block main %}
            <nav>
                <ul>
                    <li>Home</li>
                    <li>Download</li>
                    <li>Community</li>
                </ul>
            </nav>
            CpcSC is a front end for LLVM for a subset of CpcdosC+ language
            <div class="highlight">
<pre><span></span><span class="c">REM/ Clear screen</span>
<span class="c">REM/ Display &quot;Hello World&quot; and exit</span>
                
<span class="nb">CLS/</span><span class="w"></span>
                
<span class="nb">TXT/</span><span class="w"> </span><span class="t">Hello</span><span class="w"> </span><span class="t">World</span><span class="w"></span></pre>
            </div>
            <h2>Contributors</h2>
            <div id="contrib">

            </div>
{% endblock %}