{% extends "layout.fr.njk" %}

{% block main %}
            <h2 class="wip">🚧En construction🚧</h2>
            CpcSC est un compilateur pour un sous ensemble du CpcdosC+.

            <div class="highlight">
<pre><span></span><span class="c">REM/ Clear screen</span>
<span class="c">REM/ Display &quot;Hello World&quot; and exit</span>
                
<span class="nb">CLS/</span><span class="w"></span>
                
<span class="nb">TXT/</span><span class="w"> </span><span class="t">Hello</span><span class="w"> </span><span class="t">World</span><span class="w"></span></pre>
            </div>
{% endblock %}