@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

$border-color: #69ff8c;
$link-color: #25bb49;
$background-color: #eaffef;
$background-color2: #FFF;

html, body {
    margin: 0;
}

html {
    background-color: $background-color;
}

html, body, pre {
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
}

.wip {
    background: repeating-linear-gradient(
        45deg,
        $background-color,
        $background-color 10px,
        $background-color2 10px,
        $background-color2 20px
    );
    text-align: center;
    border-top: 1px $border-color solid;
    border-bottom: 1px $border-color solid;
}

img {
    &.retromoji {
        image-rendering: crisp-edges;
        height: 32px;
        
        &.mini {
            height: 16px;
        }
    }

    &.contributor {
        border-left: 4px $border-color solid;
        margin: 5px;
        height: 96px;
        
        &:hover {
            transform: rotate(-8deg);
            -webkit-transform: rotate(-8deg);
            -moz-transform: rotate(-8deg);
            -o-transform: rotate(-8deg);
        }
    }
}

a {
    text-decoration: none;
    color: $link-color;
    &:hover {
        text-decoration: underline;
    }
    
    img.retromoji {
        float: right;
        margin: 15px 4px;
        transition: margin 0.5s ease-out;
        -webkit-transition: margin 0.5s ease-out;
        -moz-transition: margin 0.5s ease-out;
        -o-transition: margin 0.5s ease-out;
        
        &:hover {
            margin-top: 2px;
        }
    }
    &.disabled {
        img {
            filter: grayscale(1);
            
            &:hover {
                margin-top: 15px;
            }
        }
    }
}

nav {
    margin: 15px 15px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: inline;
            padding: 15px;
            margin: 15px 15px;

            &::before {
                content: "/";
            }
            &::after {
                content: "/";
            }
        }
    }    
}

.clear { clear:both; }

#pride {
    display: none;
    background-color: salmon;
    color: white;
    padding: 15px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: uppercase;
}

main {
    background-color: $background-color2;
    margin: 0 15%;
    padding: 0 5px;
    border-left: 4px solid $border-color;
    border-right: 4px solid $border-color;
    box-shadow: 5px 3px 3px #3c3c3c3c;
}

.highlight {
    padding: 0 12px;
}

.error {
    padding: 5px;
    color: white;
    background-color: rgb(148, 57, 57);
    border-radius: 2px;
    
    img {
        margin: 0 5px;
    }
}

footer {
    position: fixed;
    bottom: 0;
    margin: 5px;
}

@import "highlight";